@font-face {
  font-family: "Ubuntu Nerd Font";
  src: url("/fonts/UbuntuNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Ubuntu Nerd Font", "Ubuntu", sans-serif;
}
